body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

a,
a:hover {
	color: #0088cc;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.container {
	display: flex;
	padding: 10px 0;
	justify-content: space-between;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #e8e8e8;
}

.container:before {
	content: " ";
	display: table;
}
.container:after {
	content: " ";
	display: table;
	clear: both;
}

.nav{
	padding: 0;
	list-style: none;
	display: flex;
}

.nav li {
	margin: 0;
	padding: 0 10px;
}

.nav li ul {
	list-style: none;
	display: none;
	padding: 0;
	position: absolute;
}

.nav li a:hover {
	box-shadow: 0px 3px 0px 0px #179cde;
	-webkit-box-shadow: 0px 3px 0px 0px #179cde;
	padding-bottom: 13.5px;
	background-color: transparent;
}

.nav a {
	color: #0088cc;
	-webkit-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
	-moz-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
	background-color: transparent;
}

.nav {
	color: #a2a2a2;
	font-size: 15px;
}

.nav a,
.nav a:hover,
.nav a:focus {
	background-color: transparent;
}

.icon {
	display: inline-block;
}
.icon-twitter {
	width: 21px;
	height: 17px;
	vertical-align: text-top;
	opacity: 0.9;
}

.logo-news {
	display: flex;
	margin: 6px auto 35px;
	max-width: 798px;
	text-align: center;
}

.logo-text {
	font-size: 20px;
	line-height: 148%;
	max-width: 285px;
	margin: 0 auto;
	color: #8c8c8c;
	text-align: center;
	padding: 1px 0 10px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
	font-weight: 300;
}

.logo-img {
	width: 128px;
	height: 128px;
	margin: 18px auto 6px;
}

.logo-wrap {
	max-width: 315px;
	margin: 0 auto;
	padding: 20px 0 20px;
}

.logo {
	display: block;
	line-height: 0;
}

.news {
	position: relative;
}

.news {
    margin: 22px 0 0 16px;
    padding: 0 10px 0 15px;
    font-weight: bold;
}

.inner-news {
	position: relative;
	text-align: left;
	background: #ecf3fa;
	padding: 15px 20px 20px;
	font-size: 12px;
	width: 180px;
	border-left: 5px solid #179cde;
	background: none;
	padding: 5px 17px;
	margin: 0 0 17px 26px;
}

.news-header {
	display: block;
	color: #0088cc;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}

.news-entry {
	display: block;
	margin-top: 10px;
}

a.news-entry:hover {
  text-decoration: none;
}

a.news-entry:hover .news-title {
  text-decoration: underline;
}

.news-date {
	color: #000;
}

@media (max-width: 480px) {
  .nav .container {
    padding: 0;
  }
  .logo-text {
    padding-top: 10px;
    padding-bottom: 2px;
  }
  .logo-img {
    width: 85px;
    height: 85px;
  }
  .logo-title,
  .logo-title:hover {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: -1px;
  }
  .logo-lead {
    font-size: 16px;
    max-width: 224px;
  }